.container {
width: 900;
display: flex;
flex-wrap:wrap ;
background-color: aqua; 
justify-content: space-between;

}

.box {
    display: flex;

    flex-direction: row;
justify-content: space-evenly ;
background-color: lightseagreen;

box-shadow: 5px 10px;
box-shadow: 7px 10px black;


border: 5px solid red;
border: 10px dotted blue;
border: double;

}
h1 {border: 5px solid red;
    
  }
  
